body { 
	padding:20px;
	width:300px;
}

.feature-tagity {
	position:relative;
	overflow:hidden;
}

.input {
	display:block;
	width:100%;
	line-height:1rem;
	padding:8px 8px;
	overflow:hidden;
	font-size:13px;
}

.tags {
	overflow:hidden;
	margin:8px 0px;
}

.tags .tag {
	padding:4px 10px 4px 9px;
	font-size:13px;
	line-height:17px;
	display:inline-block;
	background:#7981c3;
	margin-bottom:5px;
	margin-right:5px;
	color:white;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tags .tag.example {
	background:#CCCCCC;
	color:#888888;
}

.tags .tag.example:empty {
	padding:0px;
	margin:0px;
}

.tags .tag .remove { 
  font-weight: bold;
  font-size: 11px;
  color: rgba(255,255,255, 0.9);
  -webkit-transition: all .35s;
  transitions: all .35s;
  width: 14px;
  height: 14px;
  line-height: 14px;
  /*background: rgba(0,0,0,0.20);*/
  border-radius: 99px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  position:relative;
  left:4px;
}

.tags .tag .remove:after {
	content: "\f00d";
	display: inline;
  height: auto;
  width: auto;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  padding-top:1px;
}

.tags .tag .remove:hover {
	color:rgba(255,255,255, 1);
	background:rgba(0,0,0,0.4);
	cursor: pointer;

}

.suggestions {
	background:#EEEEEE;
	padding:8px 5px;
}

.suggestions:empty {
	padding:0px;
}

.suggestions .suggestion {
	padding:4px 6px;
	font-size:13px;
	line-height:17px;
	display:inline-block;

	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.suggestions .suggestion:hover, .suggestions .suggestion.focus {
	background:#CCCCCC;
	cursor: pointer;
}

.extras {
	position:absolute;
	right:-20px;
	top:8px;
	-webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.reveal {
	right: 10px;
}

.character-limit {
	font-size:12px;
	display:inline-block;
	margin-right:8px;
	color:#919292;
}

.tagErrorPulse {
	-webkit-animation: tagErrorPulse .7s linear;
	-moz-animation: tagErrorPulse .7s linear;
	-ms-animation: tagErrorPulse .7s linear;
	animation: tagErrorPulse .7s linear;
}

@keyframes "tagErrorPulse" {
 0% {background:#7981c3; }
 10% {background:#4daf62;}
 30% {background:#4daf62;}
 100% {background:#7981c3; }
}

@-moz-keyframes tagErrorPulse {
 0% {background:#7981c3; }
 10% {background:#4daf62;}
 30% {background:#4daf62;}
 100% {background:#7981c3; }
}

@-webkit-keyframes "tagErrorPulse" {
 0% {background:#7981c3; }
 10% {background:#4daf62;}
 30% {background:#4daf62;}
 100% {background:#7981c3; }
}

@-ms-keyframes "tagErrorPulse" {
 0% {background:#7981c3; }
 10% {background:#4daf62;}
 30% {background:#4daf62;}
 100% {background:#7981c3; }
}

.errorPulse {
	-webkit-animation: errorPulse 350ms linear;
	-moz-animation: errorPulse 350ms linear;
	-ms-animation: errorPulse 350ms linear;
	animation: errorPulse 350ms linear;
}

@keyframes "errorPulse" {
 0% {color: red; }
 1% {color: red; }
 100% {color: #919292; }
}

@-moz-keyframes errorPulse {
 0% {color: red; }
 1% {color: red; }
 100% {color: #919292; }
}

@-webkit-keyframes "errorPulse" {
 0% {color: red; }
 1% {color: red; }
 100% {color: #919292; }
}

@-ms-keyframes "errorPulse" {
 0% {color: red; }
 1% {color: red; }
 100% {color: #919292; }
}

.add-tag {
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	background: #4daf62;
	border-radius:999px;
	text-align:center;
	color: #fff;
}

.add-tag:hover {
	background:#66c37a;
	cursor: pointer;
}